body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

p {
  font-size: 1.2rem;
}

#demo,
.nav {
  padding-left: 2rem;
  padding-right: 2rem;
}

#demo .nav a {
  font-size: 1.1em;
  font-weight: 500;
}
#demo .nav .menu {
  margin-right: -1rem;
}
#demo .nav .menu a {
  text-transform: lowercase;
}