#goodwinds-logo {
  height: 6rem;
}
#goodwinds-logo-blades {
  transform-origin: 10453.3333333268px 5653.3878369504px 0;
  fill: #75c8ce;
}
#goodwinds-logo-tower {
  animation: goodWindRiseUp .5s ease-in-out forwards;
}
#goodwinds-logo-tower {
  fill: #75c8ce;
}
#goodwinds-logo-letters {
  fill: #fff;
}

#goodwinds-logo.hover #goodwinds-logo-blades {
  animation: goodWindSpinInPlace 5s linear infinite;
}

.goodWindSpinRight {
  animation: goodWindSpinRight .5s linear forwards;
}

@keyframes goodWindRiseUp {
  0% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes goodWindSpinRight {
  0% {
    transform: translate3d(-9900px, 0, 0) rotate(0deg) scale(0.1);
  }
  50% {
    transform: translate3d(0, 0, 0) rotate(540deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(1080deg);
  }
}

@keyframes goodWindSpinInPlace {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(540deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}