.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 50;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  height: 7rem;
  box-sizing: border-box;

  transition: background .4s, height .4s;
}

.nav.over {
  background-color: #101010;
  height: 4.5rem;
}

.nav .logo {
  display: flex;
  align-items: center;
  padding-left: 0;
}

.nav .menu {
  padding: 0;
  margin: 0;
  list-style: none;

  margin-left: auto;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.nav .menu li {
  display: flex;
  align-items: stretch;
  position: relative;
}
.nav .menu a {
  display: flex;
  align-items: center;
}
.nav .menu li:before {
  position: absolute;
  content: "";
  bottom: 35%;
  width: 0;
  height: 1px;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  transition: background-color .4s ease, width .4s ease;
}
.nav .menu li.active:before {
  background-color: #75c8ce;
  width: 30%;
}
.nav .menu li.active a,
.nav .menu li.active a:hover {
  color: #75c8ce;
}

.nav .menu a:hover {
  color: rgba(255, 255, 255, 1);
}

.nav a {
  white-space: nowrap;
  text-decoration: none;
  padding: 0 1rem;
  color: rgba(255, 255, 255, .8);
  transition: color .4s ease;
}

.nav .menu-toggle,
.nav .menu-close {
  display: none;
  align-items: center;
  margin-left: auto;
  padding: 0;
}

.nav .menu-toggle svg,
.nav .menu-close svg {
  width: 30px;
}

@media (max-width: 767.98px) {
  .nav .menu-toggle {
    display: flex;
    color: white;
  }

  .nav .menu {
    transform: translateX(100vw);
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: 2rem;
    text-align: center;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, .8);
    color: #101010;
    transition: background .3s, transform .3s;
  }

  .nav .menu a {
    color: #101010;
  }

  .nav.expanded .menu-toggle {
    display: none;
  }
  .nav.expanded .menu-close {
    display: flex;
    color: #101010;
  }

  .nav.expanded .menu {
    transform: translateX(0);
    background-color: rgba(255, 255, 255, 1);
    flex-direction: column;
    justify-content: center;
  }

  .nav.expanded .menu li {
    justify-content: center;
  }

  .nav.expanded .menu a {
    line-height: 4rem;
  }
  .nav.expanded .menu li.active:before {
    width: 3rem;
  }
  .nav.expanded .menu li:before {
    bottom: 25%;
  }
}